body{
  background-image:url("./pictures/not-found.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width:100vw;
}
h2{
  margin-top: 25px;
}
span{
  text-decoration: underline;
}
img{
  height: 50vh;
}
button{
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: green;
  color:white;
}
p{
  font-style: italic;
  line-height: 1.5;
   
}

.pressed{
  opacity: 0.5;
}